<h1>Login</h1>

<form action="/login" method="post">
<input type ="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<div>
  <label>Email:</label>
  <input type = "text" name = "email" id="email">
</div>

<br>

<div>
<label>Password: </label>
<input type = "password" name = "password" id="email">
</div>

<br>

<div>
 <button>Login</button>
</div>

</form>
