<div class="container mt-4">
<h1 class="mb-4">New Place</h1>

<form action="/places" method="post">
  <div class="mb-3">
    <label for="name_input" class="form-label">Name of place</label>
    <input type="text" name="name" id="name_input" class="form-control">
  </div>

  <%= submit_tag "Create Place", class: "btn btn-success" %>
</form>
</div>